
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/t.css" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/home/About">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/Education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/Project">Project</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/home/Reference">Reference</a>
            </li>
        </ul>
    </nav>

    <div>


        <h1 style="text-align:center"><b>Education Qualification</b></h1>
        <br />

        <table style="width:30%">
            <tr style="">
                <th><b>BSc</b></th>
            </tr>
            <tr>
                <td>Dep : CSE</td>
            </tr>
            <tr>
                <td>Semester : 9th Running </td>
            </tr>
            <tr>
                <td>Cgpa :3.97 </td>
            </tr>
            <tr>
                <td>Major : SE</td>
            </tr>

        </table>




        <br /><br />
        <table style="width:30%">
            <tr style="">
                <th><b>HSC</b></th>
            </tr>
            <tr>

                <td>College  : Udayan College</td>
            </tr>
            <tr>
                <td>Background : Science</t
            </tr>
            <tr>
                <td>GPA : 4.67 </td>
            </tr>
            <td>Year :2019 </td>
            <tr>
            </tr>

        </table>

        <br /><br />
              <table style="width:30%">
               
                  <tr>
                      <th><b>SSC</b></th>
                  </tr>
                  <tr>

                      <td>School  : Lalbagh Gov. Model College </td>
                  </tr>

                  <tr>
                      <td>Background : Science</td>
                  </tr>
                  <tr>
                      <td>GPA : 5 </td>
                  </tr>
                  <tr>
                      <td>Year :2017 </td>

                  </tr>

              </table>




    </div>
</body>
</html>
