
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/t.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/home/About">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/Education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/Project">Project</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/home/Reference">Reference</a>
            </li>
        </ul>
    </nav>
    <br /><br /><br />

         <h1 style="text-align:center"><b>My Project</b></h1>
    <br />
    
                <table style="width: 100%">
                    <tr style="">
                        <th>Subject</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><b>OOP</b></td>
                        <td><b>Bank Managment System</b></td>
                        <td>
                            The main objective of bank management is to build an organic and optimal<br />
                            interaction system between the elements of banking mechanisms with view <br />
                            to profit.Every successful banker has to perform managerial responsibilities along with technical banking activities.

                        </td>
                    </tr>
                    <tr>
                        <td><b>OOP2</b></td>
                        <td><b>Hospital Managment Sysyem</b></td>
                        <td>
                            Main objectives of a Hospital Management System are Design a system for better patient care.
                            <br />Reduce hospital operating costs. Provide MIS (Management Information System)
                            report on demand to management for better decision making.


                        </td>
                    </tr>

                    <tr>
                        <td><b>WEB TECHNOLOGIES</b> </td>
                        <td><b>University Managment Sysyem</b></td>
                        <td>
                            A cloud based university management system (UMS) is a digital solution that helps automate tasks.<br />
                            Ranging from registering students, admitting students, onboarding them, managing their fees,
                            <br />
                            managing payroll for lecturers to helping students access online learning, classroom training etc


                        </td>
                    </tr>

                    <tr>
                        <td><b>Advance Java</b> </td>
                        <td><b>Personal Health Web App</b></td>
                        <td>
                            One of the primary objectives of the app is patient Care and time reduse also search good doctors and Bolde Doner at a time. <br />
                            The foundation of all medical ethics, from the Hippocratic Oath to the present day, is the maxim, "First, do no harm



                        </td>
                    </tr>








                </table>

</body>
</html>
